### Gradle ###
/app/.gradle
/app/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store